{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="home">
    <section id="image-box">
        <img id="landing-image" src="{% static 'images/baix-ebre.jpg' %}" alt="">
        <div id="image-title">
            <h2><span class="content1">The Catalan-Cymru</span> <span class="content2">Connection</span></h2>
        </div>
        <div id="image-text">
            <p><span class="content1">Bringing the culinary delights of the Baix Ebre to</span> <span class="content2">South Wales</span></p>
        </div>
        <div id="image-links" class="active-underline">
            <a class="active-underline" href="">DISCOVER MORE</a>
            <a class="active-underline" href="{% url 'table_booking' %}">BOOK A TABLE!</a>
        </div>
    </section>
</main>
<footer>
    <div class="footing">
        <h1>la cucafera</h1>
    </div>
    <hr class="footer-break">
    <section class="contact">
        <h2>get in touch</h2>
        <hr>
        <p>enquiry@lacucafera.com</p>
        <hr class="line-break">
        <p>1 Dragon Street</p>
        <p>Cathays</p>
        <p>Cardiff</p>
        <p>CF24 3HR</p>
        <p>WALES</p>
    </section>
    <hr class="footer-break">
    <section class="times">
        <h2>opening times</h2>
        <hr>
        <p>mon closed</p>
        <p>tue closed</p>
        <p>wed closed</p>
        <p>thu 1pm-1am</p>
        <p>fri 1pm-1am</p>
        <p>sat 1pm-1am</p>
        <p>sun 1pm-1am</p>
    </section>
    <section class="social">

    </section>
</footer>
{% endblock %}
