{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- homepage -->
<main id="home">
    <div id="home-flex">
        <!-- hero image -->
        <section id="image-box">
            <img id="landing-image" src="{% static 'images/baix-ebre.webp' %}" alt="An olive grove in the Baix Ebre region">
            <img id="landing-image-lrg" src="{% static 'images/baix-ebre2.webp' %}" alt="An olive grove in the Baix Ebre region">
            <img id="landing-image-xlrg" src="{% static 'images/baix-ebre2.webp' %}" alt="An olive grove in the Baix Ebre">
            <div id="image-title">
            <!-- image text -->
                <h2><span class="content1">The Catalan-Cymru</span> <span class="content2">Connection</span></h2>
            </div>
            <div id="image-text">
                <p><span class="content1">Bringing the culinary delights of the Baix Ebre to</span> <span class="content2">South Wales</span></p>
            </div>
            <div id="image-links" class="active-underline">
                <a aria-label="Opens bar menu page" class="active-underline" href="{% url 'menu' %}">DISCOVER MORE</a>
                <a aria-label="Opens page for table booking form" class="active-underline" href="{% url 'table_booking' %}">BOOK A TABLE!</a>
            </div>
        </section>
    </div>
</main>
{% endblock %}

