{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <section class="menu-heading">
      <header class="menu-header">
        <h1 class="menu-title">OUR MENU</h1>
        <p class="hero-menu"><span>La Cucafera</span> <span>Vegetarian Tapas Bar Menu</span> <span>Baix Ebre Inspired and Ingredients Sourced Tapas and Beverages.</span>
        </p>
      </header>
    </section>
    La Cucafera Vegetarian Tapas Bar Menu
Baix Ebre Region Inspired Tapas
    <section>
        <hr>
        <h2>Catalan Tapas</h2>
        <h3>1. Pa amb Tomàquet... 2.5</h3>
        <p>Traditional Catalan dish of toasted bread rubbed with garlic and ripe tomatoes, drizzled with extra virgin olive oil and sprinkled with sea salt.</p>
        <h3>2. Escalivada... 3.5</h3>
        <p>Grilled vegetables (such as eggplant, bell peppers, and onions) served with a tangy romesco sauce.</p>
        <h3>3. Patates Braves... 3.5</h3>
        <p>Crispy fried potatoes served with a spicy tomato sauce and garlic aioli.</p>
        <h3>4. Bunyols de Formatge...4.5</h3>
        <p>Cheese fritters seasoned with herbs and served with a tangy tomato dipping sauce.</p>
        <h3>5. Tofu a la Catalana...4.5</h3>
        <p>Tofu marinated in Catalan spices, served with roasted vegetables and a drizzle of balsamic glaze.</p>
        <h3>6. Cigrons Amb Espinacs...4.5</h3>
        <p>Chickpeas cooked with spinach, garlic, and smoked paprika</p>
        <h3>7. Coca de Verduras...4.5</h3>
        <p>Catalan flatbread topped with roasted vegetables, caramelized onions, and melted cheese.</p>
        <h3>8. Patates a la Importància...4.5</h3>
        <p>Potatoes cooked in a flavorful vegetable broth with saffron and served with a garlic and almond sauce.</p>
        <h3>9. Calçots Amb Romesco...3.5</h3>
        <p>Grilled spring onions served with romesco sauce, a classic Catalan dip made from roasted red peppers, almonds, and garlic.</p>
        <h3>10. Espinacs Saltats...3.5</h3>
        <p>Sautéed spinach with pine nuts, raisins, and a touch of garlic.</p>
        <h3>11. Truita de Patates...4.5</h3>
        <p>Traditional Spanish potato omelet served with aioli.</p>
        <hr>
        <h2>Welsh Tapas</h2>
        <h2>Glamorgan Sausages...5.5</h2>
        <p>Traditional Welsh sausages - a Welsh croquette if you will - made from cheese, leeks, and breadcrumbs, served with a tangy tomato dipping sauce.></p>
        <h2>Welsh Rarebit Croquettes...4.5</h2>
        <p>Crispy croquettes filled with a rich Welsh rarebit mixture made from cheese, ale, and mustard.</p>
        <h2>Laverbread Fritters...3.5</h2>
        <p>Deep-fried fritters made from laverbread (edible seaweed), served with a lemon wedge and garlic aioli.</p>
        <hr>
        <h2>Postres</h2>
        <h3>Crema Catalana...4.5</h3>
        <p>Classic Catalan dessert of creamy custard topped with caramelized sugar.</p>
        <h3>C.R.E.O. Xocolata A La Taza...4.5</h3>
        <p>A thick chocolate drink from the Baix Ebre region made with cocoa beans from Majorca.</p>
        <h3>Welsh Cakes...2.5</h3>
        <p>Traditional Welsh griddle cakes made with flour, olive oil, sugar, and currants, served warm with a dusting of powdered sugar.</p>
        <h3>Bara Brith...3.5</h3>
        <p>A traditional Welsh fruit loaf made with dried fruits, spices, and tea, served sliced with cheddar cheese.</p>
    </section>
    <section>
        <h2>Beverages</h2>
        <h3>Alcohol</h3>
        <p>Sangria (Red or White)...[g/3.5][b/9.5]</p>
        <p>Cava (Spanish Sparkling Wine)...[g/4.5][b/15.5</p>
        <p>Vermouth (From the home of Vermouth - Reus)...[g/4.5][b/12.5]</p>
        <p>A range of Red or White Terra Alta Wines, ask our staff for more details</p>
        <h3>Cervese Moritz</h3>
        <p>Served on tap, ask for a caña (small)...2.5 or doble (large)...4.5</p>
        <h3>Non-Alcoholic</h3>
        <p>Freshly squeezed juices, ask our staff for more details...4.5</p>
        <p>Vichy Catalan Sodas, ask our staff for more details on a range of flavoured fizzy drinks...3.5</p>
        <h3>Hot Drinks</h3>
        <h2>Cafe con Leche...2.6</h2>
        <p>Traditional milky coffee.</p>
        <h2>Cortado...2.2</h2>
        <p>a shorter cafe con leche</p>
        <h2>Cafe Solo...1.8</h2>
        <p>a short black coffee</p>
        <h2>Americano...1.9</h2>
        <p>coffee with a dash of hot water</p>
        <p>Coffee can be decaffeinated or caffeinated and made with either dairy or with one of our plant based milks, see staff for more details.</p>
        <h2>Welsh Brew Tea...2.1</h2>
        <p>A strong and full-bodied tea blend made from a mixture of Assam and African teas. Served with milk or lemon, as preferred</p>
        <h2>Herbal Teas...1.9</h2>
        <p>Please ask our staff for more details about our range of herbal teas.</p>
    </section>
{% endblock %}