<title>All Bookings</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- {% if user.is_authenticated and user.is_superuser %} -->
<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
  <h1 class="text-center mt-5 mb-5">All Bookings</h1>
  <input class="form-control form-control-lg fs-3 border border-primary" id="myInput" type="text" placeholder="Search Booking">
  <br>
  <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover mx-auto">
        <thead>
          <tr>
            <th class="text-center" scope="col">First Name</th>
            <th class="text-center" scope="col">Last Name</th>
            <th class="text-center" scope="col">Email</th>
            <th class="text-center" scope="col">Table</th>
            <th class="text-center" scope="col">Date</th>
            <th class="text-center" scope="col">Time</th>
          </tr>
        </thead>
        <tbody id="myTable">
        {% for item in items %}
          <tr>
            <td class="text-center">{{item.user.first_name}}</td>
            <td class="text-center">{{item.user.last_name}}</td>
            <td class="text-center">{{item.user.email}}</td>
            <td class="text-center">Table {{item.table}}</td>
            <td class="text-center">{{item.day}}</td>
            <td class="text-center">{{item.time}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
</div>
<!-- {% else %}
<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5">
  <h1 class="p-2  me-3">First Sign in to staff account!</h1>
  <a href="{% url 'login_user' %}" class="btn btn-primary text-white">Sign in to Staff Acount</a>
</div>
{% endif %} -->
<!--Staff Panel Search extension-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}