{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="staff">
<div id="customers" class="shadow p-4 mb-5 bg-body bg-body rounded text-black">
  <h1 id="customer-title">All Bookings</h1>
  <br>
  <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover mx-auto" aria-label="table of customer bookings">
        <thead>
          <tr>
            <th class="text-center" scope="col">First Name</th>
            <th class="text-center" scope="col">Last Name</th>
            <th class="text-center" scope="col">Email</th>
            <th class="text-center" scope="col">Table</th>
            <th class="text-center" scope="col">Date</th>
            <th class="text-center" scope="col">Time</th>
            <th class="text-center" scope="col">Requirements</th>
          </tr>
        </thead>
        <tbody id="findTable">
        {% for item in items %}
          <tr>
            <td class="text-center">{{item.user.first_name}}</td>
            <td class="text-center">{{item.user.last_name}}</td>
            <td class="text-center">{{item.user.email}}</td>
            <td class="text-center">Table {{item.table}}</td>
            <td class="text-center">{{item.day}}</td>
            <td class="text-center">{{item.time}}</td>
            <td class="text-center">{{item.special_requirements}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
</div>
</main>
{% endblock %}