{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- first table booking form page -->
<main id="booking-main">
    <!-- booking form -->
    <section id="form-background">
        <h2 id="booking-heading">Table Booking</h2>
        <p>Please note: bookings, online booking updates or cancellations cannot be made on the same day your booking is scheduled for. Please call us if you want a booking for today: 029-20-111111</p>
        <!-- table selection -->
        <div class="form-input">
            <form method="post" action="{% url 'table_booking' %}" class="center-form" aria-label="table booking form"></form>
                {% csrf_token %}
                <div class="selector">
                    <h3 class="table-title">Select Your Table:</h3>
                    <label for="table-select">
                        <select id="table-select" class="form-select fs-3" name="table">
                            <option value="1">"Table 1 (2 seats)"</option>
                            <option value="2">"Table 2 (2 seats)"</option>
                            <option value="3">"Table 3 (2 seats)"</option>
                            <option value="4">"Table 4 (4 seats)"</option>
                            <option value="5">"Table 5 (4 seats)"</option>
                            <option value="6">"Table 6 (4 seats)"</option>
                            <option value="7">"Table 7 (8 seats)"</option>
                            <option value="8">"Table 8 (8 seats)"</option>
                        </select>
                    </label>
                </div>
                <!-- day selection -->
                <div class="selector">
                    <h3 class="table-title">Select Day:</h3>
                    <label for="day-select">
                        <select id="day-select" class="form-select fs-3" name="day">
                            {% for validate_day in validate_days %}
                            <option value="{{validate_day}}">{{validate_day}}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <div>
                    <button aria-label="click to select a time for your booking" type="submit" id="booking-button">Continue</button>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}