<title>Booking Time</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="time-main">
    <section id="hero-time">
        <img id="time-image" src="{% static 'images/time.jpg' %}" alt="">
    </section>
    <section id="time-background">
        <h1 id="time-heading">Choose a Time:</h1>
        <div class="form-input">
            <form method="post" action="{% url 'table_booking_submit' %}" class="center-form" required>
                {% csrf_token %}
                <h3 class="table-title">Available Times:</h3>
                <div>
                    <select id="time-select" class="form-select fs-3 text-center" name="time">
                        {% for time in times %}
                        <option value="{{time}}">{{time}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" id="time-button">Make Booking</button>
            </form>
        </div>
    </section>  
</main>
{% endblock %}