<title>Booking Time</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="time-main">
    <section id="hero-time">
        <img id="time-image" src="{% static 'images/time.jpg' %}" alt="">
    </section>
    <section id="time-background">
        <h1 id="time-heading">Choose a Time:</h1>
        <div class="form-input">
            <form method="post" action="{% url 'table_booking_submit' %}" class="center-form" required>
                {% csrf_token %}
                <h3 class="table-title">Available Times:</h3>
                <div>
                    <select id="time-select" class="form-select fs-3 text-center" name="time">
                        {% for time in times %}
                        <option value="{{time}}">{{time}}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" id="time-button">Make Booking</button>

            </form>
        </div>
    </section>  
</main>
<footer>
    <div class="footing">
        <h1>la cucafera</h1>
    </div>
    <hr class="footer-break">
    <section class="contact">
        <h2>get in touch</h2>
        <hr>
        <p>enquiry@lacucafera.com</p>
        <hr class="line-break">
        <p>1 Dragon Street</p>
        <p>Cathays</p>
        <p>Cardiff</p>
        <p>CF24 3HR</p>
        <p>WALES</p>
    </section>
    <hr class="footer-break">
    <section class="times">
        <h2>opening times</h2>
        <hr>
        <p>mon closed</p>
        <p>tue closed</p>
        <p>wed closed</p>
        <p>thu 1pm-1am</p>
        <p>fri 1pm-1am</p>
        <p>sat 1pm-1am</p>
        <p>sun 1pm-1am</p>
    </section>
</footer>
{% endblock %}