{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="time-main">
    <div id="hero-time">
        <img id="time-image" src="{% static 'images/time.jpg' %}" alt="A woman in the middle of a meal at a restaurant holding a glass of red wine in her right hand.">
    </div>
    <section id="time-background">
        <h2 id="time-heading">Choose a Time:</h2>
        <div class="form-input">
            <form method="post" action="{% url 'table_booking_submit' %}" class="center-form">
                {% csrf_token %}
                <div>
                    <h3 class="table-title">Available Times:</h3>
                    <label for="time-select">
                    <select id="time-select" class="form-select fs-3 text-center" name="time">
                        {% for time in times %}
                        <option value="{{time}}">{{time}}</option>
                        {% endfor %}
                    </select></label>
                </div>
                <button aria-label="click to make table booking" type="submit" id="time-button">Make Booking</button>
            </form>
        </div>
    </section>  
</main>
{% endblock %}