{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- second page of the table booking update form -->
<main class="update-booking">
    <h1 class="update-title">Edit Booking</h1>
    <!-- form -->
    <div class="form-input">
        <form method="post" action="{% url 'user_update_submit' id %}" class="center-form" aria-label="booking update form">
            {% csrf_token %}
            <!-- time selection -->
            <div class="selector">
                <h3 class="table-title">Time:</h3>
                <label for="update-select-time">
                    <select id="update-select-time" class="form-select fs-3 text-center" name="time">
                        {% for time in times %}
                        <option value="{{time}}">{{time}}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <!-- special requirements section -->
            <div class="selector">
                <h3 class="table-title">Special Requirements:</h3>
                <label for="special-requirements">
                    <textarea id="special-requirements" name="special_requirements" rows="4" cols="50">{{ special_requirements|default:'' }}</textarea>
                </label>
            </div>
            <div id="button-margin">
                <button aria-label="click to update booking" type="submit" class="deletebtn">Update Booking</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}