{% extends 'base.html' %}
{% load static %}
{% block content %}
	<main id="register">
		<div id="hero-register">
			<img id="register-image" src="{% static 'images/register.jpg' %}" alt="Blurred image of Spanish buildings">
		</div>
		<section id="register-main">
			<h2 id="register-heading">Create a Profile</h2>
			<hr class="line-break">
			<form action="{% url 'register_user' %}" method=POST id="register-form">
			{% csrf_token %}
				{{ form.as_p }}
				<hr>
				<input type="submit" value="Submit" id="register-button">
			</form>
		</section>
	</main>	
{% endblock %}